
EMAIL_USERNAME=youremail@gmail.com
EMAIL_PASSWORD=email password

#Database
DATABASE_URL=database path
DATABASE_PASSWORD=database password
DATABASE_USERNAME=database username

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8080